:root {
	--contrast-color: #ffffff;
	--inverse-contrast-color: #000000;
	--main-box-shadow: #272c30;
	--secondary-box-shadow: #00000088;

	--test-color: red;
	--accent-color: #1c8ed7;
	--main-background-color: #343c42;
	--secondary-background-color: #272c30;

	--main-text-color: #88939c;
	--secondary-text-color: #ffffff;
	--tab-color: #5e6870;

	--textfield-color: #6f7981;
	--textfield-border: #2b3136;

	--sidebar-background-color: #30363c;
	--panel-header-background: #24292c;

	--combobox-hover: #363e44;

	--button-background-color: #1c4ed7;
	--button-text-color: #ffffff;
	--button-hover-color: #265beb;
	--button-active-color: #1843b9;
	--flat-button-hover-color: rgba(255, 255, 255, 0.13);

	--graph-border-color: #98adb8;
	--graph-axes-color: #505050;

	--content-hover: #e5e5e5;
	--node-record-icon: #3b4044;

	--dropdown-background: #5e6870;

	--accent-color: #1c8ed7;
	--hover-color: rgba(28, 144, 217, 0.3);

	--pane-background-color: rgba(0, 0, 0, 0.3);
}

[theme="light"] {
	--contrast-color: #000000;
	--inverse-contrast-color: #ffffff;
	--main-box-shadow: #9a9a9a;
	--secondary-box-shadow: #c8c7c788;

	--test-color: purple;
	--accent-color: #1c8ed7;
	--main-background-color: #e6e6e6;
	--secondary-background-color: #c5c8ce;

	--main-text-color: #272a2c;
	--secondary-text-color: #5e6870;
	--tab-color: #707d88;

	--textfield-color: #6f7981;
	--textfield-border: #d8dde2;
	 
	--sidebar-background-color: #c2cbd4;
	--panel-header-background: #d2e3ed;
	--button-background-color: #00000022;

	--combobox-hover: #8da5b8;

	--button-background-color: #1f58f7;
	--button-text-color: #ffffff;
	--button-hover-color: #265beb;
	--button-active-color: #1843b9;
	--flat-button-hover-color: rgba(0, 0, 0, 0.13);

	--graph-border-color: #98adb8;
	--graph-axes-color: #505050;

	--dropdown-background: #ccdae6;

	--content-hover: #555555;
	--node-record-icon: #77848f;

	--pane-background-color: rgba(0, 0, 0, 0.3);
}

[theme="red"] {
	--contrast-color: #ffffff;
	--inverse-contrast-color: #ffffff;
	--main-box-shadow: #f5abb8;
	--secondary-box-shadow: #c8c7c788;

	--test-color: yellow;
	--accent-color: #c5566b;
	--main-background-color: #ffe3e3;
	--secondary-background-color: #b93643;

	--main-text-color: #ffffff;
	--secondary-text-color: #ffffff;
	--tab-color: #e7a9b0;

	--textfield-color: #ec6868;
	--textfield-border: #dec2c4;

	--sidebar-background-color: #bc4758;
	--panel-header-background: #b41d33;

	--button-background-color: #5cb85c;

	--combobox-hover: #8da5b8;
	--button-text-color: #ffffff;
	--button-hover-color: #84d584;
	--button-active-color: #197519;
	--flat-button-hover-color: rgba(0, 0, 0, 0.13);

	--graph-border-color: #98adb8;
	--graph-axes-color: #505050;

	--dropdown-background: #dc495f;

	--content-hover: #555555;
	--node-record-icon: #77848f;

	--pane-background-color: rgba(0, 0, 0, 0.3);
}