:root {
	--contrast-color: #ffffff;
	--inverse-contrast-color: #000000;
	--main-box-shadow: #272c30;
	--secondary-box-shadow: #00000088;

	--test-color: red;
	--accent-color: #1c8ed7;
	--main-background-color: #343c42;
	--secondary-background-color: #272c30;

	--main-text-color: #88939c;
	--secondary-text-color: #34393d;
	--tab-color: #5e6870;

	--textfield-color: #6f7981;
	--textfield-border: #2b3136;

	--sidebar-background-color: #30363c;
	--panel-header-background: #24292c;
	--button-background-color: #ffffff22;

	--combobox-hover: #363e44;

	--button-background-color: #1c4ed7;
	--button-text-color: #ffffff;
	--button-hover-color: #265beb;
	--button-active-color: #1843b9;

	--graph-border-color: #98adb8;
	--content-hover: #e5e5e5;
	--node-record-icon: #3b4044;
}

[theme="dark"] {
	--contrast-color: #000000;
	--inverse-contrast-color: #ffffff;
	--main-box-shadow: #ffffff;
	--secondary-box-shadow: #ffffff88;

	--test-color: purple;
	--accent-color: #1c8ed7;
	--main-background-color: #e6e6e6;
	--secondary-background-color: #c6ced3;

	--main-text-color: #272a2c;
	--secondary-text-color: #5e6870;
	--tab-color: #707d88;

	--textfield-color: #6f7981;
	--textfield-border: #d8dde2;
	 
	--sidebar-background-color: #c0cad4;
	--panel-header-background: #d2e3ed;
	--button-background-color: #00000022;

	--combobox-hover: #8da5b8;

	--button-background-color: #1f58f7;
	--button-text-color: #ffffff;
	--button-hover-color: #265beb;
	--button-active-color: #1843b9;

	--graph-border-color: #98adb8;
	--content-hover: #555555;
	--node-record-icon: #77848f;
}